@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Fuzzy+Bubbles:wght@400;700&family=Jolly+Lodger&family=Luckiest+Guy&display=swap');

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("/portfoilio/public/images/homepagestarted.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}



/* Title text */
.title {
  font-family: "Cherry Bomb One", system-ui;
  position: absolute;
  top: 10px;
  left: 750px;
  -webkit-text-stroke: 4px #B05E27;
  transform: translateX(-50%);
  font-size: 160px;
  color: #FAEC00;
  letter-spacing: 3px;
  opacity: 0;
  animation:
    fadeIn 1.5s ease-out forwards,
    float 4s ease-in-out infinite;

  z-index: 10;
}

/* Fade in once */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

/* Gentle floating motion */
@keyframes float {
  0% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, -6px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}


/* Frog */
.frog {
  z-index: 5;
  position: absolute;
  width: 25%;
  top: 220px;
  left: 38%;
}

/* Koi fish */
.koi {
  z-index: 4;
  position: absolute;
  width: 7%;
  bottom: 15px;
  left: 500px;
}

/* Swan */
.swan {
  z-index: 3;
  position: absolute;
  width: 25%;
  bottom: 65px;
  right: 300px;
}