@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Fuzzy+Bubbles:wght@400;700&family=Jolly+Lodger&family=Luckiest+Guy&display=swap');

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("/portfoilio/public/images/homepagestarted.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.title {
  font-family: "Cherry Bomb One", system-ui;
  position: absolute;
  top: 10px;
  left: 780px;
  transform: translateX(-50%);
  -webkit-text-stroke: 4px #B05E27;
  font-size: 160px;
  color: #FAEC00;
  letter-spacing: 3px;
  opacity: 0;
  animation:
    fadeIn 1.5s ease-out forwards,
    float 4s ease-in-out infinite;
  z-index: 10;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes float {
  0% { transform: translate(-50%, 0); }
  50% { transform: translate(-50%, -6px); }
  100% { transform: translate(-50%, 0); }
}


.frog {
  position: absolute;
  z-index: 5;
  width: 25%;
  top: 220px;
  left: 38%;
}

.koi {
  position: absolute;
  z-index: 4;
  width: 7%;
  bottom: 15px;
  left: 500px;
}

.swan {
  position: absolute;
  z-index: 3;
  width: 25%;
  bottom: 65px;
  right: 300px;
}

@media (max-width: 1200px) {
  .title {
    font-size: 135px;
    top: 25px;
    -webkit-text-stroke: 3.5px #B05E27;
  }

  .frog {
    width: 30%;
    top: 240px;
    left: 36%;
  }

  .koi {
    width: 8.5%;
    left: 380px;
  }

  .swan {
    width: 28%;
    right: 220px;
  }
}

@media (max-width: 1278px) {
  .title {
    font-size: 120px;
    top: 20px;
    -webkit-text-stroke: 3px #B05E27;
  }

  .frog {
    width: 32%;
    top: 250px;
    left: 35%;
  }

  .koi {
    width: 10%;
    left: 200px;
  }

  .swan {
    width: 30%;
    right: 100px;
  }
}

@keyframes swanFloat {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -4px);
  }
  100% {
    transform: translate(0, 0);
  }
}




@media (max-width: 1024px) {
  .title {
    font-size: 110px;
    top: 40px;
    -webkit-text-stroke: 3px #B05E27;
  }

  .frog {
    width: 35%;
    top: 260px;
    left: 32%;
  }

  .koi {
    width: 10%;
    left: 200px;
  }

  .swan {
    width: 30%;
    right: 100px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 70px;
    top: 30px;
    -webkit-text-stroke: 2px #B05E27;
    text-align: center;
  }

  .frog {
    width: 45%;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
  }

  .koi {
    width: 14%;
    left: 20px;
    bottom: 10px;
  }

  .swan {
    width: 40%;
    right: 20px;
    bottom: 40px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 52px;
    top: 20px;
    letter-spacing: 1px;
  }

  .frog {
    width: 55%;
    top: 360px;
  }

  .koi {
    width: 18%;
  }

  .swan {
    width: 50%;
  }
}
